@charset "UTF-8";

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login-form {
	margin: auto;
}

/*--------------------------------------------------------------
# whatToEat
--------------------------------------------------------------*/
span.whatToEat {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*--------------------------------------------------------------
# Category Section
--------------------------------------------------------------*/
.category .category-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.category .category-item:hover img {
	transform: scale(1.1);
	filter: brightness(70%);
}

.category .category-item:hover span {
	font-weight: 500;
}

.category .category-item img {
	transition: all ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# thumbnail
--------------------------------------------------------------*/
a.thumbnail img {
	width: 100%;
	min-height: 150px;
	max-height: 180px;
	filter: brightness(50%);
	object-fit: cover;
}

a.thumbnail .category-info {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 85%;
	transform: translate(-50%, -50%);
	font-size: 1.8rem;
	font-weight: 400;
	font-family: 'Noto Sans KR', sans-serif;
	text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.9);
	color: #fff;
	text-align: center;
}

/*--------------------------------------------------------------
# List Section
--------------------------------------------------------------*/
#list .thumbnail {
	margin-bottom: 50px;
	text-align: center;
	border: 1px solid #ddd;
    border-radius: 4px;
}

#list .thumbnail img {
	overflow: hidden;
	width: 100%;
	min-height: 150px;
	max-height: 180px;
	object-fit: cover;
}	

#list .btn-detail {
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
	transition: 0.3s;
	line-height: 1;
	color: white;
	border: 2px solid #cda45e;
}

#list .btn-detail:hover {
	background: #cda45e;
    color: #fff;
}