@charset "UTF-8";

/*--------------------------------------------------------------
# topbar
--------------------------------------------------------------*/
#topbar a {
	color: #fff;
}

#topbar p {
	color: white;
	margin: 0;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login-form {
	margin: auto;
}

@media ( min-width : 992px) {
	.login-form {
		max-width: 720px;
	}
}

@media ( min-width : 768px) {
	.login-form {
		max-width: 540px;
	}
}

.login-form ul li {
	align-self: baseline;
}

.login-form ul li+li {
	padding-left: 10px;
}

.login-form ul li+li::before {
	display: inline-block;
	padding-right: 10px;
	color: #625b4b;
	content: "|";
	height: 30px;
}

.login-form ul {
	margin-bottom: 8px;
	height: 30px;
}

.login-form ul li.active a {
	font-size: 1.2rem;
	color: #cda45e;
}

.login-form ul li a {
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
}

.login-form ul li:hover a {
	color: #cda45e;
}

/*--------------------------------------------------------------
# Join Section
--------------------------------------------------------------*/
.join-form .form-group {
	padding-bottom: 8px;
}

.join-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

.join-form .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.join-form .error-message br+br {
	margin-top: 25px;
}

.join-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.join-form .loading {
	display: none;
	text-align: center;
	padding: 15px;
}

.join-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #cda45e;
	border-top-color: #1a1814;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.join-form input, .join-form textarea, .join-form select {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	background: #0c0b09;
	border-color: #625b4b;
	color: white;
}

.join-form input::placeholder, .join-form textarea::placeholder, .join-form select::placeholder {
	color: #a49b89;
}

.join-form input:focus, .join-form textarea:focus, .join-form select:focus {
	border-color: #cda45e;
}

.join-form input, .join-form select {
	height: 44px;
}

.join-form textarea {
	padding: 10px 12px;
}

.join-form button[type="submit"] {
	background: #cda45e;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

.join-form button[type="submit"]:hover {
	background: #d3af71;
}

/*--------------------------------------------------------------
# whatToEat
--------------------------------------------------------------*/
span.whatToEat {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*--------------------------------------------------------------
# Category Section
--------------------------------------------------------------*/
.category .category-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.category .category-item:hover img {
	transform: scale(1.1);
	filter: brightness(70%);
}

.category .category-item:hover span {
	font-weight: 500;
}

.category .category-item img {
	transition: all ease-in-out 0.4s;
}

/*--------------------------------------------------------------
# thumbnail
--------------------------------------------------------------*/
a.thumbnail img {
	width: 100%;
	min-height: 150px;
	max-height: 180px;
	filter: brightness(50%);
	object-fit: cover;
}

a.thumbnail .category-info {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 85%;
	transform: translate(-50%, -50%);
	font-size: 1.8rem;
	font-weight: 400;
	font-family: 'Noto Sans KR', sans-serif;
	text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.9);
	color: #fff;
	text-align: center;
}

/*--------------------------------------------------------------
# List Section
--------------------------------------------------------------*/
#list .thumbnail {
	margin-bottom: 50px;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#list .thumbnail img {
	overflow: hidden;
	width: 100%;
	min-height: 150px;
	max-height: 180px;
	object-fit: cover;
}

#list .btn-detail {
	font-weight: 600;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
	transition: 0.3s;
	line-height: 1;
	color: white;
	border: 2px solid #cda45e;
}

#list .btn-detail:hover {
	background: #cda45e;
	color: #fff;
}

