@charset "UTF-8";

/*--------------------------------------------------------------
# Add Section
--------------------------------------------------------------*/
#file {
	display: none;
}

label.pic-btn {
	cursor: pointer;
	display: contents;
}

#image {
	max-width: 120px;
	height: 120px;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.pic-form {
	display: flex;
	justify-content: space-between;
}

.flex-center {
	width: 100%;
	text-align: center;
	position: relative;
}
.plus-form {
	display: none;
}

.plus-form-list {
	display: inline-block;
	width: 100%;
}

.pic-group {
	width: 100%;
	align-self: center;
}

.inline .form-group {
	display: inline-block;
}

.inline .form-group:first-child {
	width: 30%
}

.inline .form-group:last-child {
	width: calc(70% - 4px);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero .btn-edit {
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
	border-radius: 50px;
	transition: 0.3s;
	line-height: 1;
	color: white;
	border: 2px solid #cda45e;
	text-align: center !important;
}

#hero .btn-edit:hover {
	background: #cda45e;
	color: #fff;
}

.form-control:disabled, .form-control[readonly] {
	background-color: #0c0b09 !important;
}

/*--------------------------------------------------------------
# addMenuForm Section
--------------------------------------------------------------*/
button.plus-btn {
	line-height: 1rem;
	font-weight: 600;
	font-size: 20px;
	padding: 15px;
	border-radius: 50%;
	transition: 0.3s;
	color: #cda45e;
	border: 2px solid #cda45e;
	background-color: transparent;
}

button.plus-btn:hover {
	color: white;
	border: 2px solid white;
}

div#plus-btn {
	text-align: center;
}

div.minus-btn {
	display: inline-block;
	position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 1rem;
}

.pic-group div+div > div.form-group, .pic-group div+div.form-group {
	padding-bottom: 0!important;
}

.add-form {
	margin: auto;
}

@media ( min-width : 992px) {
	.add-form {
		max-width: 820px;
	}
}

@media ( min-width : 768px) {
	.add-form {
		max-width: 640px;
	}
}

.add .form-group {
	padding-bottom: 8px;
}

.add .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

.add .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
	margin-top: 1rem;
}

.add .error-message br+br {
	margin-top: 25px;
}

.add .loading {
	display: none;
	text-align: center;
	padding: 15px;
}

.add .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #cda45e;
	border-top-color: #1a1814;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.add input, .add select, .add textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	background: #0c0b09;
	border-color: #625b4b;
	color: white;
}

.add select {
	color: #a49b89;
}

.add input::placeholder, .add textarea::placeholder {
	color: #a49b89;
}

.add input:focus, .add select:focus, .add textarea:focus {
	border-color: #cda45e;
}

.add input, .add select {
	height: 44px;
	margin-right: 20px;
}

.add button[type="submit"] {
	background: #cda45e;
	border: 0;
	padding: 10px 35px;
	color: #fff;
	transition: 0.4s;
	border-radius: 50px;
}

.add button[type="submit"]:hover {
	background: #d3af71;
}